<%= content_tag_for(:li, patron, class: "list-group-item") do %>
	<%= patron.clase.nombre %>
	<span class="badge"><input type="number" value="<%= patron.duracion %>" class="" min="1" max="999"></input> Días.</span>
	<%= link_to '', patron, method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar esta clase de la asignatura?' }, class: "glyphicon glyphicon-trash", title: "Eliminar" %>
<% end %>