<h1>Listado de asignaturas</h1>
<%= link_to 'Nueva Asignatura', new_asignatura_path, class: "btn btn-default" %>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tags</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @asignaturas %>
  </tbody>
</table>