<h1>Listado de asignaturas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tags</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @asignaturas %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Asignatura', new_asignatura_path %>