<h1>Listado de clases</h1>
<%= link_to 'Nueva Clase', new_clase_path, class: "btn btn-default" %>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Recursos</th>
      <th>Tags</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @clases %>
  </tbody>
</table>